In [1]:
from datetime import datetime

In [2]:
my_year = 2020
my_month = 1
my_day = 2
my_hour = 13 #24 hour format
my_min = 30
my_sec = 15

In [3]:
#Let's create a datetime object
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date #If you don't specify for example in this case hour and min and sec, datetime function will automatically convert it to 0

datetime.datetime(2020, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_min,my_sec) #Adding all the values

In [7]:
my_date_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [22]:
import numpy as np
import pandas as pd

In [14]:
np.array(['2020-03-15','2020-03-16','2020-03-17'])
#If we just run this numpy is going to treat this as normal strings
#but if we change the dtype to datetime64,it will change the string into datetime objects
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype = 'datetime64') 
#Check the output. At the end it has [D], it is there to tell that programme has turned date time into date level precision

array(['2020-03-15', '2020-03-16', '2020-03-17'], dtype='datetime64[D]')

In [17]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')  #7 days stepside between those dates
#D for interval of 7 days
#M for interval of 7 months
#Y for interval of 7 years

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [20]:
#Another example
np.arange('1968','1976',2,dtype = 'datetime64[Y]') #Every two year from 1968 to 1976

array(['1968', '1970', '1972', '1974'], dtype='datetime64[Y]')

In [24]:
#Pandas has alot of flexibilty and alot of utilities for datetime index
pd.date_range('2020-01-01',periods = 7,freq = 'D') #Counting 7 days from the date given

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [25]:
#Pandas can also infer a string code with dates
pd.date_range('Jan 01, 2018',periods = 7, freq = 'D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
#We can also use specific format
pd.to_datetime(['1/2/2018','Jan 03, 2018']) #Pandas can actually read completly two distinct string codes

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [28]:
#We can use format parameters to specify which format you want
pd.to_datetime(['2/1/2018','3/1/2018'],format = '%d/%m/%Y')

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [31]:
#We can also create a index on the dataframe
#Let's create a random dataframe
data = np.random.randn(3,2)
cols = ['A','B']
print(data)

[[ 0.26133385 -0.14090302]
 [-1.71310226 -2.18354582]
 [ 0.58772507  1.11991971]]

In [32]:
idx = pd.date_range('2020-01-01',periods = 3,freq = 'D')
df = pd.DataFrame(data,index = idx, columns = cols)

In [33]:
df

                   A         B
2020-01-01  0.261334 -0.140903
2020-01-02 -1.713102 -2.183546
2020-01-03  0.587725  1.119920